<footer class="footer">
    <div>
       <a href="https://pwright.github.io/goblet/sitemap.xml" target="_blank">Site map</a> |
          <a href="https://pwright.github.io/" target="_blank">Guidelines for Goblet</a> | 
      
       <a href="https://github.com/pwright/goblet/blob/main/LICENSE" target="_blank">MIT License</a>
</footer>
